body{
    box-sizing: border-box;
    background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
}

#cabecalho{
    background-color: rgb(177, 0, 0);
    padding: 5px 0;
    margin: 0px;
}

#titulo_principal{
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

#secao-livros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    margin: 10px 0;
    gap: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.topo-titulo {
    background-color: rgb(177, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.livro {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 6px rgb(3, 3, 3);
}

